
#social-networking {
	list-style:none
}

#social-networking li {
	float:right
}

#social-networking a img {
	border:none;
	display:block;
	padding-left:6px
}

#social-networking a img {
	opacity:.3
}

#social-networking a:hover img {
	opacity:.7
}

.ie8 #social-networking a img {
	background:#fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Chroma(color='ffffff') progid:DXImageTransform.Microsoft.Alpha(opacity=30)"
}

.ie8 #social-networking a:hover img {
	background:#fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Chroma(color='ffffff') progid:DXImageTransform.Microsoft.Alpha(opacity=70)"
}

#footer_nav {
	float:right
}

#footer_nav li {
	float:left;
	padding:0 10px;
	border-left:1px solid #c6c6c6
}

#footer_nav li:first-child {
	border-left:0
}

.add-desc {
	height:100px;
	margin:0;
	padding:0
}

.box_addon {
	width:230px;
	height:220px;
	float:left;
	border:1px solid #c6c6c6;
	margin:0;
	background-color:#f8f8f8;
	overflow:hidden
}

.addon-img {
	border:1px solid #c6c6c6;
	width:210px;
	height:140px
}

.box_addon h2 {
	font-size:16px;
	padding-top:0px;
	margin:0px;
}

.box_addon h3 {
	font-size:1.3em;
	padding-top:0px;
	margin:0px;
}

.g-block {
	position:relative;
	height:200px
}

.g-block a {
	display:block;
	color:#333
}

.g-block a {
	hover:#333
}

.g-block:hover {
	background-color:#ececec
}

a.mosaic-backdrop {
	cursor:pointer
}

.mosaic-backdrop {
	position:relative;
	background-color:#ececec;
	padding:10px;
	height:200px;
	-moz-box-shadow:inset 0 1px 5px #c5c5c58;
	-webkit-box-shadow:inset 0 1px 5px #c5c5c5;
	box-shadow:inset 0 1px 5px #c5c5c5;
	text-decoration:none
}

.mosaic-backdrop:hover {
	text-decoration:none
}

.mosaic-overlay {
	position:relative;
	background-color:#F8F8F8;
	padding:10px;
	height:200px;
	text-decoration:none
}

.mosaic-overlay:hover {
	background-color:#ececec;
	-moz-box-shadow:inset 0 1px 12px #c5c5c58;
	-webkit-box-shadow:inset 0 1px 12px #c5c5c5;
	box-shadow:inset 0 1px 12px #c5c5c5
}

.mosaic-backdrop .rate {
	font-size:36px;
	margin:0;
	padding-top:5px;
	line-height:16px
}

.mosaic-overlay .rate {
	font-size:28px;
	margin:0;
	line-height:16px
}

.rate {
	color:#8f8f8f
}

.rate span {
	color:#ea4b49
}


.filter li a {
	color:#999;
	text-decoration:none;
	margin-bottom:1px;
	padding:3px 9px;
	text-decoration:none
}

ul.filter li {
	list-style:none;
	float:left;
	margin-right:0;
	margin-left:0;
	background:url(../images/slash.png.html) left center no-repeat
}

ul.filter li:first-child {
	color:#333;
	background:none
}

.filter li a:hover,.filter li.active a {
	text-decoration:none
}

.filter {
	min-height:10px
}
/*
button.download-btn {
	background-color:#52a8e8;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#52a8e8),color-stop(100%,#377ad0));
	background-image:-webkit-linear-gradient(top,#52a8e8,#377ad0);
	background-image:-moz-linear-gradient(top,#52a8e8,#377ad0);
	background-image:-ms-linear-gradient(top,#52a8e8,#377ad0);
	background-image:-o-linear-gradient(top,#52a8e8,#377ad0);
	background-image:linear-gradient(top,#52a8e8,#377ad0);
	border-top:1px solid #4081af;
	border-right:1px solid #2e69a3;
	border-bottom:1px solid #20559a;
	border-left:1px solid #2e69a3;
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	-ms-border-radius:16px;
	-o-border-radius:16px;
	border-radius:16px;
	-webkit-box-shadow:inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	-moz-box-shadow:inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	-ms-box-shadow:inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	-o-box-shadow:inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	box-shadow:inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	color:#fff;
	font:normal 11px "lucida grande",sans-serif;
	line-height:1;
	padding:3px 5px;
	text-align:center;
	text-shadow:0 -1px 1px #3275bc;
	width:112px;
	-webkit-background-clip:padding-box
}

button.download-btn:hover {
	background-color:#3e9ee5;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3e9ee5),color-stop(100%,#206bcb));
	background-image:-webkit-linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	background-image:-moz-linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	background-image:-ms-linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	background-image:-o-linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	background-image:linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	border-top:1px solid #2a73a6;
	border-right:1px solid #165899;
	border-bottom:1px solid #07428f;
	border-left:1px solid #165899;
	-webkit-box-shadow:inset 0 1px 0 0 #62b1e9;
	-moz-box-shadow:inset 0 1px 0 0 #62b1e9;
	-ms-box-shadow:inset 0 1px 0 0 #62b1e9;
	-o-box-shadow:inset 0 1px 0 0 #62b1e9;
	box-shadow:inset 0 1px 0 0 #62b1e9;
	cursor:pointer;
	text-shadow:0 -1px 1px #1d62ab;
	-webkit-background-clip:padding-box
}

button.download-btn:active {
	background:#3282d3;
	border:1px solid #154c8c;
	border-bottom:1px solid #0e408e;
	-webkit-box-shadow:inset 0 0 6px 3px #1657b5,0 1px 0 0 #fff;
	-moz-box-shadow:inset 0 0 6px 3px #1657b5,0 1px 0 0 #fff;
	-ms-box-shadow:inset 0 0 6px 3px #1657b5,0 1px 0 0 #fff;
	-o-box-shadow:inset 0 0 6px 3px #1657b5,0 1px 0 0 #fff;
	box-shadow:inset 0 0 6px 3px #1657b5,0 1px 0 0 #fff;
	text-shadow:0 -1px 1px #2361a4;
	-webkit-background-clip:padding-box
}

button[disabled].download-btn,button[disabled].download-btn:hover,button[disabled].download-btn:active {
	background-color:#dadada;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#dadada),color-stop(100%,#f3f3f3));
	background-image:-webkit-linear-gradient(top,#dadada,#f3f3f3);
	background-image:-moz-linear-gradient(top,#dadada,#f3f3f3);
	background-image:-ms-linear-gradient(top,#dadada,#f3f3f3);
	background-image:-o-linear-gradient(top,#dadada,#f3f3f3);
	background-image:linear-gradient(top,#dadada,#f3f3f3);
	border-top:1px solid #c5c5c5;
	border-right:1px solid #cecece;
	border-bottom:1px solid #d9d9d9;
	border-left:1px solid #cecece;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
	color:#8f8f8f;
	cursor:not-allowed;
	text-shadow:0 -1px 1px #ebebeb
}

button.download-btn::-moz-focus-inner {
	border:0;
	padding:0
}
*/

.futura-med {
	font-family:'Futura W01 Medium'
}

span.micro {
	font-size:10px;
	color:#e1e1e1;
	letter-spacing:0;
	text-transform:uppercase;
	text-align:center;
	padding:10px 0 0;
	margin:0 0 0 10px
}

.blue {
	color:#e76b06
}

.pay-what-you-want {
	padding:0;
	margin:0
}

#download {
	width:215px;
	height:200px;
	margin:20px 0 0;
	border:1px solid #303030
}

#download h4 {
	font-size:12px;
	color:#4b4a46;
	text-transform:uppercase;
	letter-spacing:1px;
	text-align:center;
	padding:5px 0 0;
	font-weight:400
}

input.input-donation {
	border:1px solid #5a554e;
	font-size:12px;
	line-height:14px;
	height:16px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	width:70px
}

input.input-donation:focus {
	border:1px solid #5a554e;
	-webkit-box-shadow:#e11b22 0 0 5px 0;
	-o-box-shadow:#e11b22 0 0 5px 0;
	-moz-box-shadow:#e11b22 0 0 5px 0;
	box-shadow:#e11b22 0 0 5px 0
}

span.amount {
	font-size:10px;
	color:#fff;
	letter-spacing:1px;
	text-transform:uppercase;
	margin:0 0 0 45px;
	padding:10px 0 0
}


.r-box {
	border:1px solid #303030;
	width:215px;

	margin:0 0 15px;
}

#compatibility div {
	padding:0 5px
}

.u-1,.u-2 {
	display:block;
	width:100px
}

.u-1 {
	color:#B6500B
}

.u-2 {
	color:#097194
}

.c-title {
	width:215px;
	display:block;
	background-color:#303030;
	color:#aaaaaa;
	text-align:center;
	padding-top:5px;
	font-weight:600;
	-moz-box-shadow:1px 1px 5px #888;
	-webkit-box-shadow:1px 1px 5px #888;
	box-shadow:1px 1px 5px #888;
	height:25px;
	padding-bottom:5px;
	text-transform:uppercase;
}

#compatibility .c-status {
	padding-top:10px
}

#compatibility .c-version {
	float:left;
	width:35px;
	margin-right:10px;
	color:#333;
	padding-left:10px;
	padding-top:10px;
	-webkit-box-shadow:2px 0 0 rgba(50,50,50,0.28);
	-moz-box-shadow:2px 0 0 rgba(50,50,50,0.28);
	box-shadow:2px 0 0 rgba(50,50,50,0.28)
}

#compatibility .c-version span,#compatibility .c-status span {
	display:block;
	float:left
}

#top_nav {
}

h1,h2,h3 .c-title,#top_nav {
	font-family:'Old Standard TT',serif
}

h2 {

}

.futura-bold {
	font-family:'Old Standard TT',serif;
	margin-top:5px
}

#devot-ee {
	height:192px
}

#homepage h3 {
	font-size:14px
}

#homepage h2 {
	color:#b33c36
}

#top_nav {
	font-size:14px;
	height:40px
}

.nav-pills > li > a {
	padding-right:6px;
	padding-left:6px;
	margin-right:2px;
	line-height:14px
}


.btn-primary {
	background-color:#0A99C4;
	background-image:-moz-linear-gradient(top,#0986AC,#064D64);
	background-image:-ms-linear-gradient(top,#0986AC,#064D64);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#0986AC),to(#064D64));
	background-image:-webkit-linear-gradient(top,#0986AC,#064D64);
	background-image:-o-linear-gradient(top,#0986AC,#064D64);
	background-image:linear-gradient(top,#0986AC,#064D64);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0986AC',endColorstr='#064D64',GradientType=0);
	border-color:#064D64 #064D64 #002a80;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled] {
	background-color:#064D64
}
/*
.nav-pills .active > a,.nav-pills .active > a:hover {
	color:#fff;
	background-color:#0986AC
}

*/

.fav {
	padding:20px 0 0 70px;
	font-family:'Old Standard TT',serif
}

.fav a {
	color:#e1020c;
	text-decoration:none;
	font-size:35px
}

.classification {
	position:relative;
	width:184px;
	height:31px
}

.classification .cover {
	position:absolute;
	background:transparent url(../images/stars.png.html) top left no-repeat;
	top:0;
	left:0;
	width:184px;
	height:31px;
	z-index:101
}

.classification .cover_result {
	position:absolute;
	background:transparent url(../images/stars_full.png.html) top left no-repeat;
	top:0;
	left:0;
	height:31px;
	z-index:102
}

#top-link {
	display:none;
	font-weight:400;
	font-family:tahoma;
	font-size:10px;
	width:70px;
	color:#fff;
	font-size:11px;
	text-decoration:none;
	padding:6px 6px 6px 19px;
	position:fixed;
	right:5px;
	bottom:5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	text-shadow:0 -1px 0 #667;
	*height:1.5%
}

#top-link:hover {
	background-color:#097194;
	border:1px solid #085f7c
}

#top-link {
	background-color:#0a83ac;
	border:1px solid #085f7c
}

/*
#the_content h2{font-size:14px;border-bottom:1px solid #CFCFCF;padding-bottom:5px;padding-top:10px}
#the_content h3{font-size:12px;border-bottom:1px solid #CFCFCF}
#the_content h4{font-size:10px} #the_content
*/

small{font-size:8px;color:#9C9C9C}
.toc-marker{margin-right:10px;color:#CFCFCF}
.single_post{z-index:10}
h2.widget_title{font-size:12px;color:#C21515}
#sidebar h2{font-size:16px;}
.the_content ul,
.the_content
ul{list-style-type:disc !important;list-style-position:inside !important}
ul,ol{list-style:none}
.mosaic-overlay h2{font-size:12px;}




.video, .screenshot { position: relative; }

.video a, .screenshot a{
   position: absolute;
   display: block;
   height: 145px;
   width: 145px;
   top: 0px;
   left: 0px;

}
.jumbotron li img {margin-top:0px;}

.video a{
   background: url(../../assets_v2/img/videooverlay.png.html);
}
ul.gallery {left:-10px;}
.gallery li{
	float:left;
	border:2px solid #fff;
	margin:2px;
	padding:0px;
}

.jumbotron {padding: 23px 0 20px 0px;}
.home .jumbotron img{margin-top:10px;}

#grid-content {margin-top:20px;}


hr.soften {margin:20px 0;}

#top_nav {text-transform:uppercase;}

h1.brand {margin:0px;padding:0px;line-height: 16px;}


a.prev, a.next, a.play, a.pause {
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	background-color: #fff;
	opacity:0.7;
}

a.prev, a.next {
	top: 75px;
}
.list_carousel a.prev, .list_carousel a.next {
	top: 30px;
}
a.play, a.pause {
	top: 185px;
	left: 50%;
	margin-left: -22px;
	z-index: 200;
}
a.next {
	right: -1px;
}
a.prev {
	left: 27px;
}

.jumbotron {
	background: #4a4a4a;
}

.jumbotron:after {
  background: url(../img/diagmonds.png) repeat center center;
  opacity: 0.7;
}
#hide-promo {width:100%;float:left;opacity: 1;}

#hide-promo span {
	top:0px;
	position:relative;
	padding:4px;
	background: url(../img/arrow-up.png) no-repeat left top;
	z-index:1;
	display:block;
	width:21px;
	height: 25px;
	font-size:14px;
	margin: 0 auto;
	color: #999999;
}

#hide-promo span:hover {
	background-position: -29px 0;
}

#hide-promo span.up {
	background-position:  left -33px;
}
#hide-promo span.up:hover {
	background-position:  -29px -33px;
}

.gallery{margin-top:20px;}
